body, html {
    height: 100%;
    background-color: #e9dbb4;
    color: #40003f;
}

/* remove outer padding */
.main .row {
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}


.navbar-default {
    border-bottom: 2px solid #40003f;
}

.navbar-nav li.active:after, .navbar-nav li.active:before {
    bottom: 0%;
    margin-bottom: -2px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

@media all and (min-width: 768px) {
    .navbar-nav li.active:after {
        border-bottom-color: #fff;
        border-width: 6px;
        margin-left: -6px;
        z-index: 1;
    }
}

@media all and (min-width: 768px) {
    .navbar-nav li.active:before {
        border-bottom-color: #40003f;
        border-width: 9px;
        margin-left: -9px;
        z-index: 1;
    }
}

section {
    padding-left: 15px;
}


.font-bold {
    font-weight: bold;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.chart-type-ddl {
    margin-left: 20px;
    max-width: 200px;
}

.container {
    width: 100%;
    margin: 0;
    margin-top: -22px;
    padding: 0;
}

.navbar-default {
    background-color: #e9dbb4;
    border-color: #40003f;
}

    .navbar-default .navbar-brand {
        color: #40003f;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #40003f;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #40003f;
    }

    .navbar-default .navbar-nav > li > a {
        color: #40003f;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #40003f;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #40003f;
        background-color: #40003f;
    }

    .navbar-default .navbar-toggle {
        background-color: #40003f;
        border-color: #40003f;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            color: #40003f;
            background-color: #eadcb5;
        }

        .navbar-default .navbar-toggle .icon-bar {
            color: #40003f;
            background-color: #eadcb5;
        }

            .navbar-default .navbar-toggle .icon-bar:hover,
            .navbar-default .navbar-toggle .icon-bar:focus {
                color: #40003f;
                background-color: #40003f;
            }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #40003f;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #40003f;
        background-color: #eadcb5;
    }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #40003f;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #40003f;
            background-color: transparent;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #40003f;
        background-color: #e7e7e7;
    }
}

.img-fit-div {
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.single-screen {
    position: relative;
    font-size: 1.5em;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #40003f;
}

.single-screen-dimmed {
    z-index: 10;
    display: block;
    position: absolute;
    height: 98%;
    width: 98%;
    top: 100px;
    left: 1%;
    background: rgba(247, 196, 79, 0.50);
    border: 2px dotted #eadcb5;
    text-align: center;
    /*padding-top: 10%;*/
    align-content: center;
}

.circle-div {
    border: 2px solid #eadcb5;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: 200px;
}

    .circle-div:hover,
    .circle-div:focus {
        cursor: pointer;
        border: 6px solid #40003f;
    }


.big-yellow-text {
    font-size: 5em;
    font-weight: bold;
    color: #e9dbb4;
}

.font-streched {
    font-stretch: extra-expanded;
}

.img-fit {
    object-fit: cover;
}

.smaller-text {
    font-size: 1.3em;
}


.arrow-next-module {
    font-size: 30px;
    border: 2px solid #40003f;
    border-radius: 9px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.arrow-previous-module {
    font-size: 30px;
    border: 2px solid #40003f;
    border-radius: 9px;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    right: 30px;
}
